import React from 'react';
import PropTypes from 'prop-types';

const {{capitalize name}} = () => {
  return (
    <div>
      {{capitalize name}}
    </div>
  );
};

{{capitalize name}}.propTypes = {
};

{{capitalize name}}.defaultProps = {
};

export default {{capitalize name}};
